<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>GESTIONE INVENTARIO</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

    </head>
    <body>
        <!--NAVBAR-->
        <div th:insert="fragments/navbar :: navbar" ></div>

        <br>
        <br>

        <div id="wrapper">
            <!--SIDEBAR CORRIERE-->
            <div th:insert="fragments/sidebarCorriere :: sidebarCorriere"></div>
            <!-- Page Content -->
            <div class = "container">
            <div class="row">
                <div class = "col-md-12">

                    <h2>Merce da ritirare</h2>
                    <table class = "table table-responsive table-bordered .table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Indirizzo di ritiro</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="VS : ${daRitirare}">
                            <td th:text="${VS.id}"></td>
                            <td th:text="${VS.indirizzoDiRitiro}"></td>
                            <td><a th:href="@{/corriere/venditeDaRitirare/ritiro/{id}(id=${VS.id})}" class="btn btn-primary">Preleva<i class="fas fa-user-edit ml-2"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>



                    <h2>Merce ritirata</h2>
                    <table class = "table table-responsive table-bordered .table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Indirizzo di consegna</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="VS1 : ${ritirate}">
                            <td th:text="${VS1.id}"></td>
                            <td th:text="${VS1.indirizzoDiConsegna}"></td>
                            <td><a th:href="@{/corriere/consegna/{id}(id=${VS1.id})}" class="btn btn-primary">Consegna<i class="fas fa-user-edit ml-2"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>

                    <h2>Merce consegnate</h2>
                    <table class = "table table-responsive table-bordered .table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Indirizzo di ritiro</th>
                            <th>Indirizzo di consegna</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="VS2 : ${consegnate}">
                            <td th:text="${VS2.id}"></td>
                            <td th:text="${VS2.indirizzoDiRitiro}"></td>
                            <td th:text="${VS2.indirizzoDiConsegna}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        </div>

    </body>
</html>