<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>CONSULTA ACQUISTI</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

</head>
<body>
<!--NAVBAR-->
<div th:insert="fragments/navbar :: navbar" ></div>

<br>
<br>

<div id="wrapper">
    <!--SIDEBAR CLIENTE-->
    <div th:insert="fragments/sidebarCliente :: sidebarCliente"></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <table class = "table table-responsive table-bordered .table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Data</th>
                            <th>Prezzo Totale</th>
                            <th>Merce Acquistata</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vendita : ${vendite}">
                            <td th:text="${vendita.id}"></td>
                            <td th:text="${vendita.data}"></td>
                            <td th:text="${vendita.prezzo}"></td>
                            <td>
                                <table class = "table table-responsive .table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Prezzo</th>
                                        <th>Quantita</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="mercev : ${vendita.getListaMerceVendita()}">
                                            <td th:text="${mercev.merceAlPubblico.merce.nome}"></td>
                                            <td th:text="${mercev.prezzoTotaleVendita}"></td>
                                            <td th:text="${mercev.quantitaVenduta}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>