<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <title>RICERCA PRODOTTO</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
        <!--NAVBAR-->
        <div th:insert="fragments/navbar :: navbar" ></div>

        <br>
        <br>

        <div id="wrapper">
            <!--SIDEBAR CLIENTE-->
            <div th:insert="fragments/sidebarCliente :: sidebarCliente"></div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class = "container">
                    <div class="row">
                        <div class = "col-md-6">
                            <table class = "table table-responsive table-bordered .table-striped">
                                <thead>
                                <tr>
                                    <th>nome</th>
                                    <th>indirizzo</th>
                                    <th>partita iva</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="neg : ${negList}">
                                    <td th:text="${neg.nome}"></td>
                                    <td th:text="${neg.indirizzo}"></td>
                                    <td th:text="${neg.p_iva}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>