<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>CONSULTA PROMOZIONI</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}"/>

</head>
<body>
<!--NAVBAR-->
<div th:insert="fragments/navbar :: navbar" ></div>

<br>
<br>

<div id="wrapper">
    <!--SIDEBAR CLIENTE-->
    <div th:insert="fragments/sidebarCliente :: sidebarCliente"></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <form th:action="@{/cliente/promozioniFiltrate}" method="post">
            <div style="width:400px;">
                <div style="float: left; width: 300px">
                    <div style="width:300px;">
                        <div style="float: left; width: 150px">
                            <select name="categoria" style="height: 35px">
                                <option th:each="categoria : ${T(it.unicam.pawm.c3.model.merce.Categoria).values()}" th:value="${categoria}" th:text="${categoria}"></option>
                            </select>
                        </div>
                        <div style="float: right; width: 150px">
                            <input type="submit" class="btn btn-primary" value="Filtra promozioni">
                        </div>
                    </div>
                </div>
                <div style="float: right; width: 100px">
                    <a th:href="@{/cliente/azzeraFiltro}" class="btn btn-primary">EliminaFiltro</a>
                </div>
            </div>
        <br>
        <br>
        <table class="table table-responsive table-bordered .table-striped">
            <br>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Prezzo</th>
                <th>Quantita</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="min : ${minList}">
                <td th:text="${min.merceAlPubblico.merce.nome}"></td>
                <td th:text="${min.merceAlPubblico.prezzo}"></td>
                <td th:text="${min.quantita}"></td>
            </tr>
            </tbody>
        </table>
        </form>
    </div>
</div>
</body>
</html>