<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REGISTRA VENDITA</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

</head>
<body>
<!--NAVBAR-->
<div th:insert="fragments/navbar :: navbar" ></div>

<br>
<br>

<div id="wrapper">
    <!--SIDEBAR ADDETTO-->
    <div th:insert="fragments/sidebarAddetto :: sidebarAddetto"></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <form th:action="@{/addettonegozio/checkout/{id}(id=${id})}" method="post">
            <br>
            <h4>Lista Corrieri</h4>
            <table id="corrieretable" class = "table table-responsive table-bordered .table-striped">
                <thead>
                <tr>
                    <th>Corriere</th>
                    <th>Spedizione</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="corriere : ${corrieriList}">
                    <td th:text="${corriere}"></td>
                    <form id="selezioneCorriere" ACTION="#" th:action="@{/addettonegozio/checkout/{id}(id=${id})}" th:object="${corriere}" method="POST">
                    <td>
                        <input type="checkbox" id="checkboxShop" name="checkboxShop"/>
                        <label for="checkboxShop">In Negozio</label>
                        <input type="checkbox" id="checkboxDomicile" name="checkboxDomicile"/>
                        <label for="checkboxShop">A Domicilio</label>
                    <td>
                        <input type="hidden" id="idCorriere" name="idCorriere" th:value="${corriere.id}"/>
                        <button type="submit" name="action" value="sceltaCorriere">Scegli corriere</button>
                    </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

</body>
</html>

