<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REGISTRA VENDITA A DOMICILIO</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

</head>
<body>
<!--NAVBAR-->
<div th:insert="fragments/navbar :: navbar" ></div>

<br>
<br>

<div id="wrapper">
    <!--SIDEBAR ADDETTO-->
    <div th:insert="fragments/sidebarAddetto :: sidebarAddetto"></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <form id="insertIndirizzoDomicilio" th:action="@{/addettonegozio/checkout/{idCliente}(idCliente=${idCliente})}" method="post">
            <input type="text" id="indirizzoDomicilio" name="indirizzoDomicilio" required autofocus="autofocus"/>
            <input type="hidden" id="idCliente" name="idCliente" th:value="${idCliente}"/>
            <input type="hidden" id="idCorriere" name="idCorriere" th:value="${idCorriere}"/>
            <button type="submit" name="action" value="confermaIndirizzo">Conferma</button>
        </form>
    </div>
</div>
</body>
</html>

