<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>CHECKOUT</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
    <!--NAVBAR-->
    <div th:insert="fragments/navbar :: navbar" ></div>

    <br>
    <br>

    <div id="wrapper">
        <!--SIDEBAR ADDETTO-->
        <div th:insert="fragments/sidebarAddetto :: sidebarAddetto"></div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <form th:action="@{/addettonegozio/checkout/}" method="post">
                            <div id="containerIdQuantity">
                                <div>
                                    <label for="id" class="col-form-label">Id Merce</label> <input type="text" name="id" th:value="*{id}" class="form-control" id="id">
                                </div>
                                <div>
                                    <label for="quantita" class="col-form-label">Quantita</label> <input type="text" th:value="*{quantita}" name="quantita" class="form-control" id="quantita">
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div id="containerButtonTrovaMerceAndALertRelativo" style="width:500px;">
                                <div style="float: left; width: 150px">
                                    <input type="submit" class="btn btn-primary" name="action" value="TrovaMerce">
                                </div>
                                <div class="divAlert" style="float: right; width: 350px;">
                                    <div th:if="${alertMerceOQuantitaMancante}">
                                        <div class="alert alert-danger">
                                            <span th:text="${alertMerceOQuantitaMancante}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div id="containerPriceDiscount">
                                <div>
                                    <label for="prezzo" class="col-form-label">Prezzo</label>
                                    <input type="text" name="prezzo" th:value="*{prezzo}" class="form-control"
                                           id="prezzo">
                                </div>
                                <div>
                                    <label for="sconto" class="col-form-label">Sconto</label>
                                    <input type="text" name="sconto" th:value="*{sconto}" class="form-control"
                                           id="sconto">
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div id="containerButtonAddCarrelloAndALertRelativo" style="width:500px;">
                                <div style="float: left; width: 150px">
                                    <input type="submit" class="btn btn-primary" name="action" value="AggiungiAlCarrello">
                                </div>
                                <div class="divAlert" style="float: right; width: 350px;">
                                    <div th:if="${alertCarrello}">
                                        <div class="alert alert-danger">
                                            <span th:text="${alertCarrello}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div id="containerShoppingCartPrice">
                                <div>
                                    <label for="prezzoCarrello" class="col-form-label">Prezzo Carrello</label>
                                    <input type="text" name="prezzoCarrello" th:value="*{prezzoCarrello}" class="form-control" id="prezzoCarrello">
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div id="containerCarta">
                                <div>
                                    <label for="codiceCarta" class="col-form-label">Codice Carta</label>
                                    <input type="text" name="codiceCarta" th:value="*{codiceCarta}" class="form-control" id="codiceCarta">
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div id="containerAlertAndButtonCard" style="width:500px;">
                                <div style="float: left; width: 150px">
                                    <input type="submit" class="btn btn-primary" name="action" value="ApplicaCarta">
                                </div>
                                <div class="divAlert" style="float: right; width: 350px">
                                    <div th:if="${alertCodiceErrato}">
                                        <div class="alert alert-danger">
                                            <span th:text="${alertCodiceErrato}"></span>
                                        </div>
                                    </div>
                                    <div th:if="${alertCodiceValido}">
                                        <div class="alert alert-success">
                                            <span th:text="${alertCodiceValido}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div id="containerRecivedMoney">
                                <div>
                                    <label for="denaroRicevuto" class="col-form-label">Denaro Ricevuto</label>
                                    <input type="text" th:value="*{denaroRicevuto}" name="denaroRicevuto" class="form-control" id="denaroRicevuto">
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div id="containerCalcolaRestoEAlertRelativo" style="width:500px;">
                                <div style="float: left; width: 150px">
                                    <input type="submit" class="btn btn-primary" name="action" value="CalcolaResto">
                                </div>
                                <div class="divAlert" style="float: right; width: 350px">
                                    <div th:if="${alertCalcolaResto}">
                                        <div class="alert alert-danger">
                                            <span th:text="${alertCalcolaResto}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div id="containerRest">
                                <div>
                                    <label for="resto" class="col-form-label">Resto</label>
                                    <input type="text" th:value="*{resto}" name="resto" class="form-control" id="resto">
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div id="completamentoCheckout" style="width:600px;">
                                <div style="float: left; width: 180px">
                                    <input type="checkbox" id="checkboxName" name="checkboxName"/><label for="checkboxName">Spedisci Vendita</label>
                                </div>
                                <div style="float: right; width: 400px">
                                    <div style="width:400px;">
                                        <div style="float: left; width: 190px">
                                            <input type="submit" class="btn btn-primary" name="action" value="CompletaCheckout">
                                        </div>
                                        <div style="float: right; width: 190px">
                                            <input type="submit" class="btn btn-primary" name="action" value="AnnullaCheckout">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <hr class="divider">
                            <h4>Parte Assegnazione Carta Al Cliente</h4>
                            <div id="containerSearchEmailForAssign">
                                <div>
                                    <label for="email" class="col-form-label">Email</label>
                                    <input type="text" name="email" class="form-control" id="email">
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div id="containerCercaUserAssegnaCartaEAlertRelativo" style="width: 600px">
                                <div style="float: left; width: 150px">
                                    <input type="submit" class="btn btn-primary" name="action" value="CercaUserPerAssegnaCarta">
                                </div>
                                <div class="divAlert" style="float: right; width: 350px">
                                    <div th:if="${alertUserCartaErrato}">
                                        <div class="alert alert-danger">
                                            <span th:text="${alertUserCartaErrato}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div id="containerTableUserSearched">
                                <div>
                                    <table class="table table-responsive table-bordered .table-striped">
                                        <thead>
                                        <tr>
                                            <th>Email</th>
                                            <th>Nome</th>
                                            <th>Cognome</th>
                                            <th>Ruolo</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${userList}">
                                            <td th:text="${user.email}"></td>
                                            <td th:text="${user.nome}"></td>
                                            <td th:text="${user.cognome}"></td>
                                            <td>
                                                <select name="tipoScontoCliente">
                                                    <option th:each="tipoScontoCliente : ${T(it.unicam.pawm.c3.carta.TipoScontoCliente).values()}"
                                                            th:value="${tipoScontoCliente}"
                                                            th:text="${tipoScontoCliente}"></option>
                                                </select>
                                            </td>
                                            <input type="hidden" name="email1" id="email1" th:value="${user.email}"/>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div id="generaCartaERelativoAlert" style="width: 600px">
                                <div style="float: left; width: 150px">
                                    <input type="submit" class="btn btn-primary" name="action" value="GeneraCartaInCheckout">
                                </div>
                                <div class="divAlert" style="float: right; width: 350px">
                                    <div th:if="${alertGenerazioneCartaErrata}">
                                        <div class="alert alert-danger">
                                            <span th:text="${alertGenerazioneCartaErrata}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <hr class="divider">
                            <h4>Parte Recupero Carta A Partire Da Email</h4>
                            <div id="containerEmailToGetCardCode">
                                <div>
                                    <label for="email" class="col-form-label">Email</label>
                                    <input type="text" name="email2" class="form-control" id="email2"/>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div id="containerReuperaCCEAlertRelativo" style="width: 500px">
                                <div style="float: left; width: 150px">
                                    <input type="submit" class="btn btn-primary" name="action" value="RecuperaCodiceCartaDaEmail">
                                </div>
                                <div class="divAlert" style="float: right; width: 350px">
                                    <div th:if="${alertRecuperoCC}">
                                        <div class="alert alert-danger">
                                            <span th:text="${alertRecuperoCC}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <hr class="divider">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>

