<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <title>HOME ADDETTO</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

    </head>
    <body>
        <!--NAVBAR-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:href="@{/}">Registration and Login Module</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                </ul>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Select Role<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <th:block th:each="r, iter:${#authentication.getAuthorities()}">
                                    <div th:if="${iter.size}>1">
                                        <li>
                                            <a th:href="@{/{ruolo}/(ruolo=${r.authority.toLowerCase()})}" >
                                                <span th:text="${r}"></span><th:block th:if="${!iter.last}">, </th:block>
                                            </a>
                                        </li>
                                    </div>
                                </th:block>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

        <br>
        <br>

        <div id="wrapper">
            <!--SIDEBAR ADDETTO-->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Menu addetto
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/addettonegozio/}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/addettonegozio/ricercaCliente}">Assegnazione carta</a>
                    </li>
                    <li>
                        <a  th:href="@{/addettonegozio/consultaInventarioAddetto}">Consulta inventario</a>
                    </li>
                    <li>
                        <a th:href="@{/addettonegozio/getVenditeAssegnate}">Consegna vendita assegnata</a>
                    </li>
                </ul>
            </div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">

                            <h3>Assegnazione carta cliente</h3>
                            <div class="card">
                                <div class="card-body">

                                    <h4>Cliente selezionato</h4>

                                    <form class="col-md-8" th:action="@{/addettonegozio/getCliente/{id}(id=${userList[0].id})}" method="post">

                                        <table class = "table table-responsive table-bordered .table-striped">
                                            <thead>
                                            <tr>
                                                <th>Email</th>
                                                <th>Nome</th>
                                                <th>Cognome</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${userList}">
                                                <td th:text="${user.email}"></td>
                                                <td th:text="${user.nome}"></td>
                                                <td th:text="${user.cognome}"></td>
                                                <td>
                                                    <select name="tipoScontoCliente">
                                                        <option th:each="tipoScontoCliente : ${T(it.unicam.pawm.c3.carta.TipoScontoCliente).values()}"
                                                                th:value="${tipoScontoCliente}" th:text="${tipoScontoCliente}"></option>
                                                    </select>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>

                                        <br>
                                        <div class="col-md-8">
                                            <input type="submit" class="btn btn-primary" value="Assegna carta">
                                        </div>


                                    </form>

                                    <br>

<!--                                    <form th:action="@{/addettonegozio/checkout}" method="post">-->
<!--                                        <div class="form-group col-md-6">-->
<!--                                            <label for="codiceCarta" class="col-form-label">Codice Carta</label>-->
<!--                                            <input type="text" name="codiceCarta" th:value="*{codiceCarta}" class="form-control" id="codiceCarta" >-->
<!--                                        </div>-->
<!--                                        <div>-->
<!--                                            <input type="submit" class="btn btn-primary" name="action" value="PassaggioCarta">-->
<!--                                        </div>-->
<!--                                    </form>-->
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
        </div>
    </body>
</html>



