<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>CONSEGNA VENDITA ASSEGNATA</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

    </head>
    <body>
        <!--NAVBAR-->
        <div th:insert="fragments/navbar :: navbar" ></div>

        <br>
        <br>

        <div id="wrapper">
            <!--SIDEBAR ADDETTO-->
            <div th:insert="fragments/sidebarAddetto :: sidebarAddetto"></div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container my-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-10">
                                <h4>Merce cliente</h4>
                                <table class = "table table-responsive table-bordered .table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Data</th>
                                        <th>Prezzo</th>
                                        <th>Indirizzo</th>
                                        <th>Stato</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="min : ${listaVendite}">

                                        <!--/*@thymesVar id="merceAlPubblico" type="it.unicam.pawm.c3.model.merce.MerceAlPubblico"*/-->
                                        <td th:text="${min.id}"></td>
                                        <td th:text="${min.data}"></td>
                                        <td th:text="${min.prezzo}"></td>
                                        <td th:text="${min.indirizzoDiConsegna}"></td>
                                        <td th:text="${min.statoConsegna}"></td>
                                        <td><a th:href="@{/addettonegozio/consegnaAlCliente/{id}(id=${min.id})}" class="btn btn-primary">Consegna<i class="fas fa-user-edit ml-2"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>