<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

</head>
<body>


<script type="text/javascript">
    $(function () {
        //Assign Click event to Button.
        $("#btnGet").click(function () {
            var message = "corriere\n";
            //Loop through all checked CheckBoxes in GridView.
            $("#corrieretable input[type=checkbox]:checked").each(function () {
                var corriere = $(this).closest("tr")[0];
                message += corriere.cells[1].innerHTML;
            });

            //Display selected Row data in Alert Box.
            alert(message);
            return false;
        });
    });
</script>




<!--NAVBAR-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registration and Login Module</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Select Role<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <th:block th:each="r, iter:${#authentication.getAuthorities()}">
                                <div th:if="${iter.size}>1">
                                    <li>
                                        <a th:href="@{/{ruolo}/(ruolo=${r.authority.toLowerCase()})}" >
                                            <span th:text="${r}"></span><th:block th:if="${!iter.last}">, </th:block>
                                        </a>
                                    </li>
                                </div>
                            </th:block>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<br>
<br>

<div id="wrapper">
    <!--SIDEBAR ADDETTO-->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Menu addetto
                </a>
            </li>
            <li>
                <a th:href="@{/addettonegozio/}">Home</a>
            </li>
            <li>
                <a th:href="@{/addettonegozio/ricercaCliente}">Assegnazione carta</a>
            </li>
            <li>
                <a  th:href="@{/addettonegozio/consultaInventarioAddetto}">Consulta inventario</a>
            </li>
            <li>
                <a th:href="@{/addettonegozio/getVenditeAssegnate}">Consegna vendita assegnata</a>
            </li>
        </ul>
    </div>


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Registra vendita...</h1>
                    <p>

                    <form th:action="@{/addettonegozio/getAll}" method="post">

                            <input type="submit" class="btn btn-primary" name="action" value="iniziaRegistraVendita">

                            <br>

                            <h4>Lista Corrieri</h4>

                            <table id="corrieretable" class = "table table-responsive table-bordered .table-striped">
                                <thead>
                                <tr>
                                    <th>Corriere</th>
                                    <th>Seleziona</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--/*@thymesVar id="corrieriList" type="it.unicam.pawm.c3.personale.Corriere"*/-->
                                <tr th:each="corriere : ${corrieriList}">
                                    <td th:text="${corriere}"></td>
                                    <td><input type="checkbox" />    &nbsp;   </td>
                                    <!--                            th:href="@{/addettonegozio//{id}(id=${corriere.id})}"-->
                                </tr>
                                </tbody>
                            </table>

                             <input id = "btnGet" type="button" value="Get Selected corrieri" />

                    <h4>Lista negozi</h4>

                            <table class = "table table-responsive table-bordered .table-striped">
                                <thead>
                                <tr>
                                    <th>Negozio</th>
                                    <th>Seleziona</th>

                                </tr>
                                </thead>
                                <tbody>
                                <!--/*@thymesVar id="corrieriList" type="it.unicam.pawm.c3.Negozio"*/-->
                                <tr th:each="negozio : ${negoziList}">
                                    <td th:text="${negozio}"></td>
                                    <td><input type="checkbox" />    &nbsp;   </td>
                                    <!--th:href="@{/addettonegozio//{id}(id=${negozio.id})}"-->
                                </tr>
                                </tbody>
                            </table>
                            <br>

                             <label for="indirizzoDomicilio" class="col-form-label">Indirizzo domicilio</label>
                             <input type="text" id="indirizzoDomicilio"  name="indirizzoDomicilio">

                    </form>

<!--                    <form th:action="@{/addettonegozio/getCorrieriDisponibili}" method="post">-->

<!--                    <label for="ritiro">Ritiro</label>-->
<!--                    <select name="ritiro" id="ritiro">-->
<!--                        <option value="IN_LOCO">IN_LOCO</option>-->
<!--                        <option value="CORRIERE_DOMICILIO">CORRIERE_DOMICILIO</option>-->
<!--                        <option value="CORRIERE_NEGOZIO">CORRIERE_NEGOZIO</option>-->
<!--                    </select>-->
<!--                        <br>-->
<!--                        <input type="submit" class="btn btn-primary" value="Conferma tipo di ritiro">-->

<!--                    </form>-->
                    <br>
                    <br>



<!--                    <form th:action="@{/addettonegozio/getNegoziDisponibili}" method="post">-->

<!--                        <label for="luogoDiRitiro">Luogo di ritiro</label>-->
<!--                        <select name="luogoDiRitiro" id="luogoDiRitiro">-->
<!--                            <option th:each="luogoDiRitiro : ${T(it.unicam.pawm.c3.vendita.LuogoDiRitiro).values()}"-->
<!--                                    th:value="${luogoDiRitiro}" th:text="${luogoDiRitiro}"></option>-->
<!--                        </select>-->
<!--                        <br>-->
<!--                        <input type="submit" class="btn btn-primary" value="Conferma luogo di ritiro">-->

<!--                    </form>-->



                    <br>
                    <br>

                    <label for="cc">Codice carta</label>
                    <br>
                    <input type="text" name="cc" id="cc" ><br>

                    </p>
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Registra</a>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>