<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>INFO MERCE</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

    </head>
    <body>
        <!--NAVBAR-->
        <div th:insert="fragments/navbar :: navbar" ></div>

        <br>
        <br>

        <div id="wrapper">
            <!--SIDEBAR ADDETTO-->
            <div th:insert="fragments/sidebarAddetto :: sidebarAddetto"></div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class = "col-md-12">
                                    <table class = "table table-responsive table-bordered .table-striped">
                                        <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>ID</th>
                                            <th>Categoria</th>
                                            <th>Quantita</th>
                                            <th>Sconto</th>
                                            <th>Promozione</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="min : ${minList}">
                                            <td th:text="${min.merceAlPubblico.merce.nome}"></td>
                                            <td th:text="${min.id}"></td>
                                            <td th:text="${min.merceAlPubblico.merce.categoria}"></td>
                                            <td th:text="${min.quantita}"></td>
                                            <td th:text="${min.merceAlPubblico.sconto}"></td>
                                            <td>
                                                <span th:if="${min.merceAlPubblico.promozione.disponibile == 'true'}">Si trova in promozione</span>
                                                <span th:unless="${min.merceAlPubblico.promozione.disponibile == 'false'}">Non si trova in promozione</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a th:href="@{/addettonegozio/consultaInventarioAddetto}" class="btn btn-primary">Indietro<i class="fas fa-user-edit ml-2"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>