<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ISCRIZIONE CORRIERE</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

    </head>
    <body>
        <!--NAVBAR-->
        <div th:insert="fragments/navbar :: navbar" ></div>

        <br>
        <br>

        <div id="wrapper">
            <!--SIDEBAR AMMINISTRATORE-->
            <div th:insert="fragments/sidebarAmministratore :: sidebarAmministratore"></div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <form th:action="@{/amministratore/addCorriere/{id}(id=${userList[0].id})}" method="post">

                        <p>
                            <div class="form-group col-lg-10">
                                <label for="nomeDitta" class="col-form-label">Nome ditta</label> <input type="text" name="nomeDitta" class="form-control" id="nomeDitta">
                            </div>
                        </p>
                        <br>

                        <p>
                            <div class="form-group col-lg-10">
                                <label for="piva" class="col-form-label">Partita IVA</label> <input type="text" name="piva" class="form-control" id="piva">
                            </div>
                        </p>
                       <p>
                        <br>
                            <div class="form-group col-lg-10">
                                <label for="indirizzo" class="col-form-label">Indirizzo Corriere</label> <input type="text" name="indirizzo" class="form-control" id="indirizzo">
                            </div>
                       </p>

                        <br>

                        <p>

                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Aggiungi corriere">
                        </div>

                        </p>

                    </form>
                </div>
            </div>
        </div>
    </body>
</html>