<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Aggiunta Negozio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/amministratore/addCorriere/{id}(id=${userList[0].id})}" method="post">
    <div class="form-group col-md-6">
        <label for="nomeDitta" class="col-form-label">Nome ditta</label> <input type="text" name="nomeDitta" class="form-control" id="nomeDitta">
    </div>
    <div class="form-group col-md-6">
        <label for="piva" class="col-form-label">Partita IVA</label> <input type="text" name="piva" class="form-control" id="piva">
    </div>
    <div class="form-group col-md-6">
        <label for="indirizzo" class="col-form-label">Indirizzo Corriere</label> <input type="text" name="indirizzo" class="form-control" id="indirizzo">
    </div>
    <input type="submit" class="btn btn-primary" value="Aggiungi negozio">
</form>
</body>
</html>