<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>AGGINGI MERCE</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

    </head>
    <body>
        <!--NAVBAR-->
        <div th:insert="fragments/navbar :: navbar" ></div>

        <br>
        <br>

        <div id="wrapper">
            <!--SIDEBAR COMMERCIANTE-->
            <div th:insert="fragments/sidebarCommerciante :: sidebarCommerciante"></div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class = "container-fluid">
                    <div class="row">
                        <div class = "col-lg-6">
                            <div>
                                <form action="#" th:action="@{/commerciante/showInventario/addMerceId}" method="post">
                                    <label for="id" class="col-form-label">Inserire l'id della merce se se ne dispone altrimenti procedere senza inserirne alcuno :</label>
                                    <input type="text" name="id" class="form-control" id="id">
                                    <br>
                                    <input type="submit" class="btn btn-primary" value="Aggiungi merce">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>