<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>AGGIUNGI MERCE</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!--NAVBAR-->
        <div th:insert="fragments/navbar :: navbar" ></div>

        <br>
        <br>

        <div id = "wrapper">
            <!--SIDEBAR COMMERCIANTE-->
            <div th:insert="fragments/sidebarCommerciante :: sidebarCommerciante"></div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class = "container-fluid">
                    <div class="row">
                        <div class = "col-lg-6">
                            <div>
                                <form action="#" th:action="@{/commerciante/showInventario/addMerce/{id}(id=${id})}" method="post">
                                    <label for="quantita" class="col-form-label">Quantita</label>
                                    <input type="text" name="quantita" class="form-control" id="quantita" required autofocus="autofocus">
                                    <label for="prezzo" class="col-form-label">prezzo</label>
                                    <input type="text" name="prezzo" class="form-control" id="prezzo" required autofocus="autofocus">
                                    <label for="sconto" class="col-form-label">Sconto</label>
                                    <input type="text" name="sconto" class="form-control" id="sconto" required autofocus="autofocus">
                                    <br>
                                    <input type="submit" class="btn btn-primary" value="Aggiungi merce">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>