<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>AGGIUNGI PROMOZIONE</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

    </head>
    <body>
        <!--NAVBAR-->
        <div th:insert="fragments/navbar :: navbar" ></div>

        <br>
        <br>

        <div id="wrapper">
            <!--SIDEBAR COMMERCIANTE-->
            <div th:insert="fragments/sidebarCommerciante :: sidebarCommerciante"></div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class = "container-fluid">
                    <div class="row">
                        <div class = "col-lg-8">
                            <div>
                                <form action="#" th:action="@{/commerciante/merceInPromozione/addPromozione/{id}(id=${id})}"
                                      method="post">
                                    <div>
                                        <div>
                                            <label for="dataInizio" class="col-form-label">Data inizio</label>
                                            <input type="date" name="dataInizio" class="form-control" id="dataInizio" required autofocus="autofocus">
                                        </div>
                                        <div>
                                            <label for="dataFine" class="col-form-label">Data fine</label>
                                            <input type="date" name="dataFine" class="form-control" id="dataFine" required autofocus="autofocus">
                                        </div>
                                        <div>
                                            <label for="percentualeSconto" class="col-form-label">percentuale sconto</label>
                                            <input type="number" name="percentualeSconto" class="form-control" id="percentualeSconto" required autofocus="autofocus">
                                        </div>
                                        <br>
                                        <div id="containerAggiungiPromozione" style="width:500px;">
                                            <div style="float: left; width: 150px">
                                                <input type="submit" class="btn btn-primary" value="Aggiungi">
                                            </div>
                                            <div class="divAlert" style="float: right; width: 350px;">
                                                <div th:if="${alertAddPromozione}">
                                                    <div class="alert alert-danger" >
                                                        <span th:text="${alertAddPromozione}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>