<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ASSUMI ADDETTO</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

    </head>
    <body>
        <!--NAVBAR-->
        <div th:insert="fragments/navbar :: navbar" ></div>

        <br>
        <br>

        <div id="wrapper">
            <!--SIDEBAR COMMERCIANTE-->
            <div th:insert="fragments/sidebarCommerciante :: sidebarCommerciante"></div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class = "container-fluid">
                    <div class="row">
                        <div class = "col-lg-8">
                            <div>
                                <form action="#" th:action="@{/commerciante/assunzioneAddetto}" method="post">
                                    <label for="email" class="col-form-label">Email</label>
                                    <input type="text" name="email" class="form-control" id="email" required autofocus="autofocus">
                                    <br>
                                    <div id="containerAggiungiPromozione" style="width:500px;">
                                        <div style="float: left; width: 150px">
                                            <input type="submit" class="btn btn-primary" value="Ricerca utente">
                                        </div>
                                        <div class="divAlert" style="float: right; width: 350px;">
                                            <div th:if="${alertAssunzioneAddetto}">
                                                <div class="alert alert-danger" >
                                                    <span th:text="${alertAssunzioneAddetto}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>