<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
    <head>
        <meta charset="UTF-8">
        <title>PROMOZIONI</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

    </head>
    <body>
        <!--NAVBAR-->
        <div th:insert="fragments/navbar :: navbar" ></div>

        <br>
        <br>

        <div id="wrapper">
            <!--SIDEBAR COMMERCIANTE-->
            <div th:insert="fragments/sidebarCommerciante :: sidebarCommerciante"></div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class = "container-fluid">
                    <div class="row">
                        <div class = "col-lg-12">
                            <div>
                                <table class = "table table-responsive table-bordered .table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Prezzo</th>
                                        <th>Sconto</th>
                                        <th>Data inizio</th>
                                        <th>Data fine</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="min : ${minList}">
                                        <td th:text="${min.merceAlPubblico.merce.ID}"></td>
                                        <td th:text="${min.merceAlPubblico.merce.nome}"></td>
                                        <td th:text="${min.merceAlPubblico.prezzo}"></td>
                                        <td th:text="${min.merceAlPubblico.sconto}"></td>
                                        <td th:text="${min.merceAlPubblico.promozione.dataInizio}"></td>
                                        <td th:text="${min.merceAlPubblico.promozione.dataFine}"></td>
                                        <td><a th:href="@{/commerciante/merceInPromozione/delete/{id}(id=${min.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i>Elimina</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a th:href="@{/commerciante/merceNonInPromozione}" class="btn btn-primary">Aggiungi nuova promozione</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>