<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ASSUNZIONE CORRIERE</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />

    </head>
    <body>
        <!--NAVBAR-->
        <div th:insert="fragments/navbar :: navbar" ></div>

        <br>
        <br>

        <div id="wrapper">
            <!--SIDEBAR COMMERCIANTE-->
            <div th:insert="fragments/sidebarCommerciante :: sidebarCommerciante"></div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class = "container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <table class="table table-responsive table-bordered .table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Partita IVA</th>
                                        <th>Indirizzo</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="corriere : ${corrieriList}">
                                        <td th:text="${corriere.nomeDitta}"></td>
                                        <td th:text="${corriere.p_iva}"></td>
                                        <td th:text="${corriere.indirizzo}"></td>
                                        <td>
                                            <a th:href="@{/commerciante/showCorrieriDaAggiungere/add/{id}(id=${corriere.id})}" class="btn btn-primary">Aggiungi</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>